body,
div {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

.sky,
.prairie {
	width: 100%;
}

.sky {
	position: relative;
	height: 60%;
	overflow:hidden;
	background: -webkit-linear-gradient(top, rgb(196, 228, 253), rgb(255, 255, 255));
	background: -moz-linear-gradient(bottom, rgb(196, 228, 253), rgb(255, 255, 255));
	background: -o-linear-gradient(bottom, rgb(196, 228, 253), rgb(255, 255, 255));
	background: linear-gradient(to bottom, rgb(196, 228, 253), rgb(255, 255, 255));
}

.prairie {
	position:relative;
	height: 40%;
	background: -webkit-linear-gradient(bottom, rgb(148, 190, 89), rgb(255, 255, 255));
	background: -moz-linear-gradient(top, rgb(148, 190, 89), rgb(255, 255, 255));
	background: -o-linear-gradient(top, rgb(148, 190, 89), rgb(255, 255, 255));
	background: linear-gradient(to top, rgb(148, 190, 89), rgb(255, 255, 255));
}

.cloud {
	position: absolute;
	width: 38px;
	height: 38px;
	transform-origin: 0 0;
	border-radius: 50%;
	background: #fff;
}

.cloud:before,
.cloud:after {
	display: block;
	content: '';
	background: #fff;
}

.cloud:before {
	width: 62px;
	height: 18px;
	margin-top: 18px;
	margin-left: -20px;
	border-radius: 9px;
}

.cloud:after {
	width: 20px;
	height: 30px;
	margin-top: -26px;
	margin-left: -12px;
	transform: skewX(10deg);
	border-radius: 10px;
}

.cloud1 {
	top: 2%;
	transform: scale(1.6);
}

.cloud2 {
	top: 4%;
	left: 80%;
	transform: scale(1.5);
	opacity:.8;
}

.cloud3 {
	top: 9%;
	left: 54%;
	transform: scale(2);
}

.cloud4 {
	top: 19%;
	left: 65%;
	transform: scale(1.2);
	opacity:.7;
}

.cloud5 {
	top: 21%;
	left: 46%;
	transform: scale(1.6);
	opacity:.8;
}

.rabbit {
	position:absolute;
	right:200px;
	bottom:50px;
	width:200px;
	height:200px;
	background: url('../img/rabbit.png') center no-repeat;
	background-size:contain;
}

.cloud1 {
	animation:cloud1-animate 13.5s linear infinite backwards, cloud1-opacity 13.5s linear infinite backwards;
}

.cloud1:before,
.cloud1:after {
	-webkit-animation:cloud1-animate 13.5s linear infinite backwards;
	-moz-animation:cloud1-animate 13.5s linear infinite backwards;
	-o-animation:cloud1-animate 13.5s linear infinite backwards;
	animation:cloud1-animate 13.5s linear infinite backwards;
}

.cloud2,
.cloud2:before,
.cloud2:after {
	-webkit-animation:cloud2-animate 12s linear 2s infinite backwards;
	-moz-animation:cloud2-animate 12s linear 2s infinite backwards;
	-o-animation:cloud2-animate 12s linear 2s infinite backwards;
	animation:cloud2-animate 12s linear 2s infinite backwards;
}

.cloud3,
.cloud3:before,
.cloud3:after {
	-webkit-animation:cloud3-animate 10s linear infinite;
	-moz-animation:cloud3-animate 10s linear infinite;
	-o-animation:cloud3-animate 10s linear infinite;
	animation:cloud3-animate 10s linear infinite;
}

.cloud4,
.cloud4:before,
.cloud4:after {
	-webkit-animation:cloud4-animate 17s linear 1.5s infinite backwards;
	-moz-animation:cloud4-animate 17s linear 1.5s infinite backwards;
	-o-animation:cloud4-animate 17s linear 1.5s infinite backwards;
	animation:cloud4-animate 17s linear 1.5s infinite backwards;
}

.cloud5,
.cloud5:before,
.cloud5:after {
	-webkit-animation:cloud5-animate 13s linear infinite;
	-moz-animation:cloud5-animate 13s linear infinite;
	-o-animation:cloud5-animate 13s linear infinite;
	animation:cloud5-animate 13s linear infinite;
}

@-webkit-keyframes cloud1-animate {
	0%   {left:90%;box-shadow:1px 0 2px 1px #fff;}
	10%  {box-shadow:none;}
	50%  {left:-5%;}
	100% {left:-100%;}
}
@-moz-keyframes cloud1-animate {
	0%   {left:90%;box-shadow:1px 0 2px 1px #fff;}
	10%  {box-shadow:none;}
	50%  {left:-5%;}
	100% {left:-100%;}
}
@-o-keyframes cloud1-animate {
	0%   {left:90%;box-shadow:1px 0 2px 1px #fff;}
	10%  {box-shadow:none;}
	50%  {left:-5%;}
	100% {left:-100%;}
}
@keyframes cloud1-animate {
	0%   {left:90%;box-shadow:1px 0 2px 1px #fff;}
	10%  {box-shadow:none;}
	50%  {left:-5%;}
	100% {left:-100%;}
}

@-webkit-keyframes cloud2-animate {
	0%   {left:103%;}
	50%  {left:-3%;}
	100% {left:-109%;}
}
@-moz-keyframes cloud2-animate {
	0%   {left:103%;}
	50%  {left:-3%;}
	100% {left:-109%;}
}
@-o-keyframes cloud2-animate {
	0%   {left:103%;}
	50%  {left:-3%;}
	100% {left:-109%;}
}
@keyframes cloud2-animate {
	0%   {left:103%;}
	50%  {left:-3%;}
	100% {left:-109%;}
}

@-webkit-keyframes cloud3-animate {
	0%   {left:102%;box-shadow:-1px 1px 3px .5px #fff;}
	10%  {box-shadow:none;}
	50%  {left:-4%;}
	100% {left:-110%;}
}
@-moz-keyframes cloud3-animate {
	0%   {left:102%;box-shadow:-1px 1px 3px .5px #fff;}
	10%  {box-shadow:none;}
	50%  {left:-4%;}
	100% {left:-110%;}
}
@-o-keyframes cloud3-animate {
	0%   {left:102%;box-shadow:-1px 1px 3px .5px #fff;}
	10%  {box-shadow:none;}
	50%  {left:-4%;}
	100% {left:-110%;}
}
@keyframes cloud3-animate {
	0%   {left:102%;box-shadow:-1px 1px 3px .5px #fff;}
	10%  {box-shadow:none;}
	50%  {left:-4%;}
	100% {left:-110%;}
}

@-webkit-keyframes cloud4-animate {
	0%   {left:102%;}
	50%  {left:0%;}
	100% {left:-102%;}
}
@-moz-keyframes cloud4-animate {
	0%   {left:102%;}
	50%  {left:0%;}
	100% {left:-102%;}
}
@-o-keyframes cloud4-animate {
	0%   {left:102%;}
	50%  {left:0%;}
	100% {left:-102%;}
}
@keyframes cloud4-animate {
	0%   {left:102%;}
	50%  {left:0%;}
	100% {left:-102%;}
}

@-webkit-keyframes cloud5-animate {
	0%   {left:96%;box-shadow:-1px 0 5px 1.5px #fff;}
	15%  {box-shadow:none;}
	50%  {left:-2%;}
	100% {left:-100%;}
}
@-moz-keyframes cloud5-animate {
	0%   {left:96%;box-shadow:-1px 0 5px 1.5px #fff;}
	15%  {box-shadow:none;}
	50%  {left:-2%;}
	100% {left:-100%;}
}
@-o-keyframes cloud5-animate {
	0%   {left:96%;box-shadow:-1px 0 5px 1.5px #fff;}
	15%  {box-shadow:none;}
	50%  {left:-2%;}
	100% {left:-100%;}
}
@keyframes cloud5-animate {
	0%   {left:96%;box-shadow:-1px 0 5px 1.5px #fff;}
	15%  {box-shadow:none;}
	50%  {left:-2%;}
	100% {left:-100%;}
}

@-webkit-keyframes cloud1-opacity {
	0%   {opacity:.8;}
	10%  {opacity:.9;}
	100% {opacity:.9;}
}
@-moz-keyframes cloud1-opacity {
	0%   {opacity:.8;}
	10%  {opacity:.9;}
	100% {opacity:.9;}
}
@-o-keyframes cloud1-opacity {
	0%   {opacity:.8;}
	10%  {opacity:.9;}
	100% {opacity:.9;}
}
@keyframes cloud1-opacity {
	0%   {opacity:.8;}
	10%  {opacity:.9;}
	100% {opacity:.9;}
}